.btn-success {
  --bs-btn-color: #fff; /* Text color */
  --bs-btn-bg: #006613; /* Background color */
  --bs-btn-border-color: white; /* Border color */
  --bs-btn-hover-color: #fff; /* Hover text color */
  --bs-btn-hover-bg: #004f0e; /* Hover background color */
  --bs-btn-hover-border-color: white; /* Hover border color */
  --bs-btn-active-color: #fff; /* Active text color */
  --bs-btn-active-bg: #006613; /* Active background color */
  --bs-btn-active-border-color: white; /* Active border color */
  --bs-btn-focus-shadow-rgb: 60, 153, 110; /* Focus shadow color */
}

.error-msg {
  color: #940000; /* Text color */
  background-color: #e7dbff; /* Background color */
  display: inline-block;
  margin-top: 8px;
  padding: 6px 6px;
  border-radius: 3px; /* Rounded corners */
  /* border: solid 1px white; */
}
