:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* my font color */
  /* 05014a */
  color: #21ce4c;
  /* --error-color: #b31919; */
  --error-color: #940000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* d7c9c9 */
  /* ff7f50 */
  /* #ff3787*/
  /* #ff4b37 */
  /* #ffaf37  */
  background-color: #ff7657;
  /* my font color */
  /* 05014a */
  color: #05014a;
}

a {
  color: #000;
}

.dark a {
  color: #fff;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
}

.loading {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 1rem auto;
}

.red {
  color: var(--error-color);
}

.error-msg {
  color: var(--error-color);
  letter-spacing: 1px;
  margin-top: 7px;
  font-size: 18px;
  background-color: #e7dbff;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 10px;
  /* border: 1px solid var(--error-color); */
}

.parent-container {
  display: flex;
  justify-content: center;
}

.form-control:focus {
  /* ff7657 */
  /* d2c7ff */
  box-shadow: 0 0 0 0.2rem #d2c7ff;
  border-color: #481fff;
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem #d2c7ff;
  border-color: #481fff;
}

/* ! this works */
/* .form-select option:checked {
  background-color: #ffdddd;
} */

/* ! doesn't work */
/* .form-select option:hover,
.form-select option:focus {
  background-color: #ffdddd;
  color: red;
} */

.login-link {
  color: white;
  font-weight: bold;
}

/* 006613 */
/* 004f0e */
/* 014a05 */
/* ! 015105 */
.btn-success {
  --bs-btn-color: #fff; /* Text color */
  --bs-btn-bg: #015105; /* Background color */
  --bs-btn-border-color: white; /* Border color */
  --bs-btn-hover-color: #fff; /* Hover text color */
  --bs-btn-hover-bg: #013c04; /* Hover background color */
  --bs-btn-hover-border-color: white; /* Hover border color */
  --bs-btn-active-color: #fff; /* Active text color */
  --bs-btn-active-bg: #015105; /* Active background color */
  --bs-btn-active-border-color: white; /* Active border color */
  --bs-btn-focus-shadow-rgb: 60, 153, 110; /* Focus shadow color */
}

.success-msg {
  color: #2a902a;
  letter-spacing: 1px;
  margin-top: 4px;
  font-size: 20px;
}

.main {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.left {
  flex: 2;
}

.right {
  flex: 10;
  background: linear-gradient(135deg, #05014a, #481fff);
  /* background: radial-gradient(at bottom right, #481fff, #05014a); */
  padding: 10px;
  color: #fff;

  /* position: relative;
  display: flex; */
}

/* Bg-img behind the content, using the relative path */
/* background-image: url("./assets/money-img.png"); */
/* .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
} */

.light {
  color: #000;
}

.dark {
  color: #fff;
  background-color: #000;
}

.dark button.btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* menu styling starts */

.hamburger-menu,
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}
/* menu styling ends */

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .hamburger-menu {
    display: block;
  }

  .close-menu {
    display: none;
  }

  .list-item .icon {
    display: none;
  }

  .list .list-item,
  .menu-open .mode-toggle {
    font-size: 25px;
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 11;
  }

  .main .list {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .menu-open .list {
    display: flex;
  }

  .menu-open .close-menu {
    display: block;
  }

  .filters {
    flex-direction: column;
  }

  .menu-open .left {
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }
}
