:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* my font color */
  /* 05014a */
  --error-color: #940000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #05014a;
  color: #fff;
}

a {
  color: #000;
}

.dark a {
  color: #fff;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
}

.loading {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 1rem auto;
}

.red {
  color: var(--error-color);
}

.error-msg {
  color: var(--error-color);
  letter-spacing: 1px;
  margin-top: 7px;
  font-size: 18px;
  background-color: #e7dbff;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 10px;
}

.parent-container {
  display: flex;
  justify-content: center;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #d2c7ff;
  border-color: #05014a;
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem #d2c7ff;
  border-color: #05014a;
}

.login-link {
  color: white;
  font-weight: bold;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #015105;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #013c04;
  --bs-btn-hover-border-color: white;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #015105;
  --bs-btn-active-border-color: white;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
}

.success-msg {
  color: #2a902a;
  letter-spacing: 1px;
  margin-top: 4px;
  font-size: 20px;
}

.main {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.left {
  flex: 2;
  background-color: #ff7657;
  color: #05014a;
}

.left.dark {
  border-right: 1px solid #fff;
}

.right {
  flex: 10;
  background: linear-gradient(135deg, #05014a, #481fff);
  padding: 10px;
  color: #fff;
}

.dark {
  color: #fff;
  background: none;
  background-color: #000;
}

.dark button.btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* menu styling starts */

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  color: #fff;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  color: #05014a;
}

/* menu styling ends */

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .hamburger-menu {
    display: flex;
  }

  .close-menu {
    display: none;
  }

  .list-item .icon {
    display: none;
  }

  .list .list-item,
  .menu-open .mode-toggle {
    font-size: 25px;
  }

  .left {
    /* flex: 1; */
    flex: 0;
  }

  .right {
    flex: 11;
    padding-top: 30px;
  }

  .main .list {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .menu-open .list {
    display: flex;
  }

  .menu-open .close-menu {
    display: block;
  }

  .filters {
    flex-direction: column;
  }

  .menu-open .left {
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }

  .dark .close-menu {
    fill: white;
  }
}
